---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/AboutUs.astro";
import PartnershipsGridGallery from "../components/PartnershipsGridGallery.astro";

const leadershipTeam = [
  {
    name: "Janindu Rajapaksha",
    role: "Co-Founder & CEO",
    image: "/company/Janindu.webp",
  },
  {
    name: "Yasanth Dolamulla",
    role: "Co-Founder & CGO",
    image: "/company/yasanth.webp",
  },
  {
    name: "Kaveesha Sandeepa",
    role: "Cheif Creative Officer",
    image: "/company/sanna122.png",
  },
  {
    name: "Sudara Wishwajith",
    role: "Cheif Technology Officer",
    image: "/company/Sudara.webp",
  },
  {
    name: "Kisal Weerachandra",
    role: "Chief Project Officer",
    image: "/company/Kisal.webp",
  },
];
---

<Layout title="Company | FLY STUDIOS">
  <main>
    <AboutUs
      companyName="FLY Studios"
      foundedYear={2021}
      mission="To transform ideas into captivating visual stories that inspire and engage audiences worldwide."
      leadershipTeam={leadershipTeam}
      ceoName="Janindu Rajapaksha"
      ceoTitle="Co-Founder & CEO"
      ceoMessage="In an age where digital content often overshadows true artistry, our mission is to deliver client-focused, high-quality creative solutions driven by human insight. At Fly Studios LK, we don’t just produce contents, we provide a tailored experience designed to meet your unique vision."
      ceoImage="/company/Janindumes.jpg"
    />
    <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-12 lg:px-8">
      <!-- ... other sections ... -->

      <PartnershipsGridGallery />
    </div>
  </main>
</Layout>
