---
interface Props {}

const {} = Astro.props;
---

<div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-32 lg:px-8">
  <div class="mx-auto max-w-2xl lg:text-center">
    <h2 class="text-base font-semibold leading-7">
      <span class="bg-blue-500 text-white px-4 py-1 rounded-full"
        >Affordable Creativity
      </span>
    </h2>
    <p
      class="mt-4 text-3xl font-roboto tracking-tight text-blue-900 sm:text-4xl"
    >
      Delivering Comprehensive Services.
    </p>
    <p class="mt-6 text-lg leading-8 font-nunito text-gray-600">
      Partnering with us brings an array of substantial advantages. Unlock
      unparalleled benefits for your business collaboration with our esteemed
      services.
    </p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
    <dl
      class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
    >
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-0 flex h-20 w-10 items-center justify-center rounded-lg"
          >
            <img src="/features/digital-asset.png" alt="" />
          </div>
          Animations
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          Breathing life into visuals, our animation service crafts dynamic
          narratives that captivate, inform, and entertain, adding depth to your
          brand’s story.
        </dd>
      </div>
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-3 flex h-10 w-12 items-center justify-center rounded-lg"
          >
            <img src="/features/growth.png" alt="" />
          </div>
          Stratergic Video Productions
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          Focused on your goals, we craft videos that deliver results, combining
          quality production with strategic planning to amplify your message.
        </dd>
      </div>
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-0 flex h-20 w-10 items-center justify-center rounded-lg"
          >
            <img src="/features/time-management.png" alt="" />
          </div>
          Motion Designs
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          We turn ideas into motion, creating dynamic visuals that engage and
          communicate your message effectively.
        </dd>
      </div>
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-0 flex h-20 w-10 items-center justify-center rounded-lg"
          >
            <img src="/features/brain.png" alt="" />
          </div>
          Creative Video Productions
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          We bring your ideas to life with imaginative storytelling and engaging
          visuals, creating memorable content that captivates your audience.
        </dd>
      </div>
    </dl>
  </div>
</div>
