---
import Layout from "../../layouts/Layout.astro";
import VideoGallery from "../../components/VideoGallery.astro";
---

<Layout title="Animations & VFX | FLY STUDIOS">
  <div class=" mt-20">
    <main
      class="mx-auto px-4 pb-24 pt-14 sm:px-6 sm:pb-32 sm:pt-0 lg:max-w-7xl lg:px-8"
    >
      <VideoGallery />
    </main>
  </div>
</Layout>
